.bocc-tabs {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  justify-items: center;


  &-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 12px;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 0;
    cursor: pointer;
    position: relative;
    color: var(--bocc-text-secondary);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.9px;
    transition: all 0.2s ease;
    user-select: none;
    padding: var(--Spacing-8, 8px) 12px;
    outline: none;

    &:hover:not(.is-active) {
      color: var(--bocc-text-link);
    }

    &.is-active {
      color: var(--bocc-text-link);
      text-align: center;

      /* 🖥 Desktop/Small text/medium */
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.9px;
      justify-content: center;
      align-items: center;
      border-radius: 0 0 var(--Border-Radius-sm, 4px) var(--Border-Radius-sm, 4px);
      border-right: 1px solid var(--bocc-border-active);
      border-bottom: 1px solid var(--bocc-border-active);
      border-left: 1px solid var(--bocc-border-active);

    }

    &:focus-visible {
      box-shadow: 0 0 0 2px var(--bocc-surface-active);
      border-radius: 4px;
    }
  }

  &-icon {
    font-size: 16px;
  }

  &-label {
    white-space: nowrap;
  }
}
