.bocc-pagination {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  user-select: none;
  font-family: 'Poppins', sans-serif;

  &-list {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
    padding: 0;
    border-radius: 4px;
    border: none;
    background: transparent;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.84px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--bocc-text-secondary);

    &:hover:not(:disabled):not(.is-active) {
      background: var(--bocc-surface-canvas);
      color: var(--bocc-brand-primary);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &.is-active {
      color: var(--bocc-text-on-brand);
      cursor: default;
      border-radius: var(--Border-Radius-sm, 4px);
      border: 1px solid var(--bocc-text-link);
      background: var(--bocc-gradient-primary);
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 5px;
    color: var(--bocc-text-link);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.84px;
    min-width: auto;

    i {
      font-size: 12px;
    }

    &:hover:not(:disabled) {
      background: var(--bocc-surface-canvas);
      border-radius: 4px;
    }
  }

  &-dropdown {
    position: relative;

    &.is-open {
      .bocc-pagination-ellipsis {
        border-color: var(--bocc-brand-primary-hover);
      }

      .bocc-pagination-ellipsis-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &-ellipsis {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 32px;
    min-width: 56px;
    max-width: 64px;
    min-height: 32px;
    padding: 0 8px 0 12px;
    background-color: var(--bocc-surface-main);
    border-radius: var(--Border-Radius-sm, 4px);
    border: 1px solid var(--bocc-border-hover);
    background: var(--bocc-surface-main);
    cursor: pointer;
    transition: all 0.2s ease;
    gap: var(--Spacing-1, 8px);

    &-text {
      color: var(--bocc-text-placeholder);

      /* Desktop/Body 2/medium */
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      /* 150% */
      letter-spacing: 0.7px;
    }

    &-arrow {
      width: 10px;
      height: 6px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23555F83' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform 0.2s ease;
      color: var(--bocc-text-secondary);
    }

    &:hover {
      border-color: var(--bocc-brand-primary-hover);
    }
  }

  &-dropdown-menu {
    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    min-width: 64px;
    max-height: 200px;
    overflow-y: auto;
    margin: 0;
    padding: 8px 0;
    background-color: var(--bocc-surface-main);
    border: 1px solid var(--bocc-border-disabled);
    border-radius: 8px;
    box-shadow: var(--bocc-shadow-md);
    z-index: 100;
    list-style: none;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--bocc-border-default);
      border-radius: 10px;
    }
  }

  &-dropdown-item {
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: var(--bocc-text-secondary);
    transition: all 0.2s;

    &:hover {
      background-color: var(--bocc-surface-canvas);
      color: var(--bocc-brand-primary);
    }
  }
}
