@use "../style/tools/breakpoints.scss" as *;

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.background {
    position: absolute;
    top: 265px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    pointer-events: none;
    overflow: hidden;

    @include for-mobile {
        top: 205px;
    }
}

.background__svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.background__svg rect {
    fill: var(--class-sky-blue);
}

.background__svg path {
    fill: var(--class-white);
}
